<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header id="header"></header>
    <main class="container">
        <h1>Galería</h1>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="carousel">
                    <!-- Ejemplo de card de carrusel -->

                    <!-- Agrega más items aquí -->
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Nuestro Sitio Web</p>
    </footer>
    <script type="module" src="../main.js"></script>
</body>

</html>