<!DOCTYPE html>
<html lang="es-419">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas Encontradas</title>
</head>

<body>
    <header>
        <nav>
            <a href="/index.html">Inicio</a>
            <a href="contact.html">Contacto</a>
            <a href="lost_pets.html">Mascotas Perdidas</a>
            <a href="pets_found.html">Mascotas Encontradas</a>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>

</html>